<div class="${wcmmode.edit? 'border': ''}">
    <label for="${properties.inputId}">${properties.inputLabel}</label>
    <input type="${properties.inputType}" class="form-control" id="${properties.inputId}" placeholder="${properties.inputLabel}">
</div>