<div class="${wcmmode.edit?'border-1':''}">
    <sly data-sly-test="${wcmmode.edit}">
        <div>Edit Forms component</div>
    </sly>
    <form id="${properties.formId}" action="${properties.actionUrl}" method="${properties.method}">
        <sly data-sly-resource="${@path='par',resourceType='wcm/foundation/components/parsys'}"></sly>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-secondary">Cancel</button>
    </form>
</div>